/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(40, 22, 54);
    overflow: hidden;
    position: fixed;
    z-index: 999;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #fffb05;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(212, 202, 104);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0c1041;
    color: white;
  }
ul.topnav li#nav-home{
    float: right ;
}
 
ul.topnav li#nav-forum{
    float: right ;
}
 
ul.topnav li#nav-media{
    float: right ;
}
 